/* Header */
#title
{
	background: transparent url("/media/img/logo-ridge.png") repeat-x scroll left bottom;
	padding: 0 0 5px 0;
	margin: 0 0 8px 0;
}

#title h1
{
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 1em;
	margin: 10px 0 0;
}

#title h1 span
{
	font-size: 44px;
}

#title h1 a
{
	color: inherit;
	text-decoration: none;
}

#title h1 a:hover span
{
	color: #1fc2ff;
}

#title ul {
	padding-top: 25px;
	margin-bottom: 10px;
}
