/* Begin setting defaults */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table#list, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus { outline: 0; }
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul { list-style: none; }
table#list {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* End setting defaults */
/* Begin regular styles */

::selection {
	background-color: #1fc2ff;
}

html {
	background-color: #fff;
	height: 100%;
}

body {
	background-color: #fff;
	color: #000;
	font-family: "Verdana", sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2em;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	min-width: 1000px;
	width: 60%;
}

a, a:link, a:visited {
	color: #444;
	text-decoration: none;
}
a:hover, a:visited:hover {
	color: #000;
	text-decoration: underline;
}
a:active, a:focus {
	color: #000;
	text-decoration: underline;
}

div#header {
	background: transparent url("/media/img/logo-ridge.png") repeat-x scroll left bottom;
	height: 77px;
	margin: 0;
	padding: 0;
}
h1#title {
	background: #fff url("/media/img/logo.png") no-repeat scroll left bottom;
	display: block;
	float: left;
	font-family: "Arial";
	font-size: 200%;
	font-style: italic;
	font-weight: 400;
	height: 46px;
	letter-spacing: -1px;
	margin: 0;
	padding: 20px 0 0;
	width: 279px;
}

ul#menu {
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 30px 0 0;
}
ul#menu > li:first-of-type > a {
	border-bottom-left-radius: 5px;
} ul#menu > li:last-of-type > a {
	border-top-right-radius: 5px;
}
ul#menu > li {
	display: inline;
}
ul#menu > li > a, ul#menu > li > a:link,
ul#menu > li > a:visited {
	background-color: #f0f0f0;
	color: #000;
	display: block;
	float: left;
	line-height: 26px;
	margin: 0;
	padding: 0 16px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
ul#menu > li > a:hover, ul#menu > li > a:link:hover,
ul#menu > li > a:visited:hover, ul#menu > li > a:focus,
ul#menu > li > a:active {
	background: #1fc2ff url("/media/img/button-grad.png") repeat-x scroll center bottom;
	color: #fff;
	text-shadow: none;
	text-decoration: underline;
}

div#content {
	padding-bottom: 50px; /* height of the footer */
	text-align: left;
	text-shadow: 1px 1px 0px #fff;
}

#options {
	margin: 20px 0;
}
#options > li {
	display: inline;
}
#options > li > a {
	background-color: #f0f0f0;
	border: 1px outset rgba(128, 128, 128, 0.4);
	*border: 1px outset rgb(128, 128, 128);
	border-radius: 5px;
	display: inline-block;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#options > li > a:hover {
	background-color: #1fc2ff;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}
#options > li > a:active {
	border: 1px inset rgb(128, 128, 128);
	text-decoration: none;
}
#options > li > a:focus {
	text-decoration: none;
}

div#profile {
	background-color: #f0f0f0;
	border-radius: 5px;
	padding: 5px;
	margin: 15px 0;
}
img#pic {
	cursor: pointer;
	width: 35px;
	height: 35px;
} img#pic:hover {
	outline: 3px solid #fff;
}
div#bigpic {
	background-color: #f0f0f0;
	border-radius: 5px;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	cursor: pointer;
	display: none;
	padding: 5px;
	position: absolute;
	z-index: 999;
}
#profile > h2 {
	display: inline;
	font-family: "Verdana", sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	vertical-align: top;
}

table#stats {
	display: block;
	float: right;
	line-height: 1.5em;
}
table#stats td {
	padding: 0 3px;
}
table#stats td:nth-of-type(2),
table#stats td:nth-of-type(4) {
	text-align: right;
}
table#stats td:nth-of-type(3) {
	padding-left: 25px;
}

table#list {
	background-color: #fff;
	border-top: 1px solid #ccc;
	margin: 0 auto;
	width: 100%;
}
table#list th {
	background-color: #f8f8f8;
	font-style: italic;
	padding: 0 5px;
}
table#list th > a {
	display: block;
	padding: 10px 0;
}
table#list th > a.order_asc,
table#list th > a.order_dec {
	font-weight: 700;
}
table#list th > a.order_asc:after { /* placekeeper */
	content: ":asc";
}
table#list th > a.order_dec:after { /* placekeeper */
	content: ":dec";
}
table#list td {
	border-bottom: 1px solid #888;
	border-top: 1px solid #fff;
	padding: 5px;
	text-align: left;
}
table#list th:nth-of-type(3),
table#list td:nth-of-type(3) {
	text-align: right;
}
table#list th:nth-of-type(4),
table#list td:nth-of-type(4) {
	color: #888;
	font-style: normal;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}
table#list td:nth-of-type(1) {
	border-right: 1px solid #fff;
}
table#list td:nth-of-type(2) {
	border-left: 1px solid #ddd;
	border-right: 1px solid #fff;
}
table#list td:nth-of-type(3) {
	border-left: 1px solid #ddd;
}
table#list tr:nth-child(4n) { background-color: #fff; }
table#list tr:nth-child(4n+2),
table#list tr:nth-child(4n+4) { background-color: #f8f8f8; }
table#list tr:nth-child(4n+3) { background-color: #f0f0f0; }

div#footer {
	background-color: #fff;
	bottom: 0px;
	height: 50px;
	left: 0px;
	position: absolute;
	width: 100%;
	text-align: center;
}

/* End regular styles */
/* Begin toggle styles */

.unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

/* End toggle styles */


/* signup form */

form#signup {
	width: 310px;
}

form#signup label {
	display: block;
	font-weight: bold;
}

form#signup input[type="submit"] {
	width: auto;
	float: right;
}

form#signup input {
	background-color: #f0f0f0;
	border: 1px outset rgba(128, 128, 128, 0.4);
	*border: 1px outset rgb(128, 128, 128);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	width: 300px;
	font-size: 16px;
}
