/* General */
::selection
{
	background-color: #1fc2ff;
}

html
{
	background-color: #fff;
	color: #000;

	font-family: "Verdana", "Arial", sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.2em;
}

a,
a:link,
a:visited
{
	color: #444;
	text-decoration: none;
}

a:hover,
a:visited:hover
{
	color: #000;
	text-decoration: underline;
}

a:active,
a:focus
{
	color: #000;
	text-decoration: underline;
}

h2
{
	display: block;
	font-family: "Verdana";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.0em;
	padding-bottom: 0.5em;
}

p > strong
{
	font-style: italic;
	font-weight: 700;
}

div.box
{
	background-color: #f0f0f0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	line-height: 1.5em;
	padding: 5px;
}

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
{
	margin-top: 15px;
}


/* Header */
div#header
{
	float: left;
	display: inline;
	background: transparent url("/media/img/logo-ridge.png") repeat-x scroll left bottom;
	padding: 0 0 9px 0;
	width: 100%;
}

h1#title
{
	display: block;
	float: left;
	font-family: "Arial";
	font-size: 52px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 1em;
	margin: 10px 0 0;
}

h1#title > span
{
	/*color: #1fc2ff;*/
	font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
	"Shin Go", "Heisei Kaku Gothic W5", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 44px;
}

/* Navigation */
ul#menu
{
	float: right;
	list-style: none outside none;
	margin: 0;
	padding: 30px 0 0;
}

ul#menu > li:first-of-type > a
{
	border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

ul#menu > li:last-of-type > a
{
	border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-webkit-border-top-right-radius: 5px;
}

ul#menu > li
{
	display: inline;
}

ul#menu > li > a,
ul#menu > li > a:link,
ul#menu > li > a:visited
{
	background-color: #f0f0f0;
	color: #000;
	display: block;
	float: left;
	line-height: 26px;
	margin: 0;
	padding: 0 16px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #fff;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

ul#menu > li > a:hover,
ul#menu > li > a:link:hover,
ul#menu > li > a:visited:hover,
ul#menu > li > a:focus,
ul#menu > li > a:active
{
	background: #1fc2ff url("/media/img/button-grad.png") repeat-x scroll center bottom;
	color: #fff;
	text-shadow: none;
	text-decoration: underline;
}

/* Signup/Login */
form
{
	margin: 5px 0 0;
}

ul#options
{
	text-align: center;
}

#options > li
{
	display: inline-block;
}

a.button,
a.button:link,
a.button:visited,
button
{
	background-color: #f0f0f0;
	border: 1px outset rgba(128, 128, 128, 0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #444;
	cursor: pointer;
	display: inline-block;
	font-family: "Verdana";
	font-size: 12px;
	font-weight: 400;
	height: 24px;
	line-height: 24px;
	padding: 0 10px;
	text-decoration: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	vertical-align: middle;
}
button
{
	/* Temp hacks */
	height: 26px;
	line-height: 1em;
	text-shadow: 1px 1px 0px #fff;
}

a.button:hover,
a.button:visited:hover,
a.button.active,
button:hover
{
	background-color: #1fc2ff;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
}

a.button:active,
button:active
{
	border: 1px inset rgb(128, 128, 128);
	text-decoration: none;
}

a.button:focus,
button:focus
{
	text-decoration: none;
}

button.disabled
{
	color: #bbb;
}

button.disabled:hover
{
	background-color: #fff;
}

button.disabled:active,
button.disabled:focus
{
	border: 1px outset rgba(128, 128, 128, 0.4);
}

#signup > #options > li:nth-of-type(2)
{
	vertical-align: middle;
}

#signup
{
	float: left;
	line-height: 2em;
}

input:focus,
button:focus
{
	outline: none;
}

input
{
	background: transparent url("/media/img/pixel.gif") repeat scroll 0 0;
	border: 1px inset #aaa;
	border: 1px inset rgba(128, 128, 128, 0.4);
	border-radius: 2px;
	display: block;
	height: 20px;
	width: 100%;
	line-height: 20px;
	padding: 1px 0;
}

input:focus,
input.hasContent
{
	border: 1px inset #000;
	background-color: #fff;
}

form div > input
{
	position: relative;
	z-index: 1;
}

form span
{
	color: #aaa;
	display: none;
	font-style: italic;
	font-size: 11px;
	margin-left: 5px;
	position: absolute;
	z-index: 0;
}

#f_submit
{
	display: block;
	clear: left;
	margin-top: 10px;
}

