<%include header.html %>

			<div class="row">
				<div class="span9">
					<h2>Welcome to the Ningyou-Project!</h2>
					<div class="well">
						<p>
							Here, you can <strong>create</strong> and
							<strong>maintain</strong> a <strong>list</strong> of TV
							programmes, movies, etc. that you have indulged in.
						</p>
					</div>
				</div>
				<div class="span3">
					<h2>Become awesome</h2>
					<form>
						<fieldset>
							<input tabindex="1" class="input-large" type="text" value="" placeholder="Username" />
							<input tabindex="2" class="input-large" type="password" value="" placeholder="Password" />
							<input tabindex="3" class="input-large" type="text" value="" placeholder="E-mail" />
							<input tabindex="4" type="submit" class="btn btn-primary btn-large pull-right" value="Enlightenment" />
						</fieldset>
					</form>
				</div>
			</div>

<%include footer.html %>
