<%include header.html %>

			<div class="row">
				<div class="span9">
					<h2>Welcome to the Ningyou-Project!</h2>
					<div class="well">
						<p>
							Here, you can <strong>create</strong> and
							<strong>maintain</strong> a <strong>list</strong> of TV
							programmes, movies, etc. that you have indulged in.
						</p>
					</div>
				</div>
				<div class="span3">
					<h2>Become awesome</h2>
					<form action="/signup" method="POST">
						<fieldset>
							<input name="name" class="input-large" type="text" value="" placeholder="Username" />
							<input name="password" class="input-large" type="password" value="" placeholder="Password" />
							<input name="mail" class="input-large" type="text" value="" placeholder="E-mail" />
							<input name="submit" type="submit" class="btn btn-primary pull-right" value="Enlightenment" />
						</fieldset>
					</form>
				</div>
			</div>

		<div id="login-modal" class="modal hide">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>Login</h3>
			</div>
			<form id="login" action="http://www.ningyou-project.org/login" method="POST">
				<div class="modal-body">
					<label>Username/E-mail</label>
					<input tabindex="1" class="span4" type="text" value="" name="name" />
					<label>Password</label>
					<input tabindex="2" class="span4" type="password" value="" name="password" />
					<div class="row">
						<div class="span4">
							<label class="checkbox">
								<input tabindex="3" type="checkbox" name="remember" /> Remember me
								<a class="pull-right" href="/login/lost-password">Lost password?</a>
							</label>
						</div>
					</div>

				</div>
				<div class="modal-footer">
					<input tabindex="4" type="submit" class="btn btn-primary" value="Login" name="submit" />
				</div>
			</form>
		</div>

<%include footer.html %>
