<%include header.html %>

		<div id="header">
			<h1>人形Ningyou.</h1>
		</div>

		<div id="content">
			<h2>Register</h2>
			<p>I believe in your typing skills!</p>
			<form action="/signup" id="signup" method="post">
				<ul>
					<li>
						<label for="usr:login">Username:</label>
						<input name="usr:login" size="30" type="text" />
					</li>

					<li>
						<label for="usr:password">Password:</label>
						<input name="usr:password" size="30" type="password" />
					</li>

					<li>
						<label for="usr:mail">Email address:</label>
						<input name="usr:mail" size="30" type="text" />
					</li>

					<li>
						<input type="submit" value="Let's go! Let's go!" />
					</li>
				</ul>
			</form>
		</div>

<%include footer.html %>
