			<div class="row">
				<div class="span12" id="footer">
					Footer.
				</div>
			</div>
		</div>

		<script src="/media/js/jquery.js"></script>
		<script src="/media/js/bootstrap-transition.js"></script>
		<script src="/media/js/bootstrap-alert.js"></script>
		<script src="/media/js/bootstrap-modal.js"></script>
		<script src="/media/js/bootstrap-dropdown.js"></script>
		<script src="/media/js/bootstrap-scrollspy.js"></script>
		<script src="/media/js/bootstrap-tab.js"></script>
		<script src="/media/js/bootstrap-tooltip.js"></script>
		<script src="/media/js/bootstrap-popover.js"></script>
		<script src="/media/js/bootstrap-button.js"></script>
		<script src="/media/js/bootstrap-collapse.js"></script>
		<script src="/media/js/bootstrap-carousel.js"></script>
		<script src="/media/js/bootstrap-typeahead.js"></script>
		<script src="/media/js/top-alert.js"></script>
		<script src="/media/js/ningyou.js"></script>
		<script>
			$('#login-modal').on('shown', function () {
				$("#login :input:first").focus();
			})
		</script>
	</body>
</html>
