			<div class="row">
				<div class="col-md-10 col-md-offset-1" id="footer">
					Footer.
				</div>
			</div>
		</div>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="/media/js/ningyou.js"></script>
		<script>
			{% if logged_user_id then %}
			$('body').data('logged_user_id', '{{logged_user_id}}')
			{% end %}
			{% if list_id then %}
			$('body').data('list_id', '{{list_id}}')
			{% end %}
			{% if status then %}
			$('body').data('status', '{{json.encode(status)}}')
			{% end %}
			{% if user then %}
			$('body').data('user_id', '{{user_id}}')
			{% end %}
		</script>
	</body>
</html>
