			<div class="row">
				<div class="span12" id="footer">
					Footer.
				</div>
			</div>
		</div>

		<script src="/media/js/jquery.js"></script>
		<script src="/media/js/bootstrap-modal.js"></script>
		<script src="/media/js/bootstrap-dropdown.js"></script>
		<script src="/media/js/bootstrap-tab.js"></script>
		<script src="/media/js/ningyou.js"></script>
		<script>
			{% if logged_user_id then %}
			$('body').data('logged_user_id', '{{logged_user_id}}')
			{% end %}
			{% if list_id then %}
			$('body').data('list_id', '{{list_id}}')
			{% end %}
			{% if status then %}
			$('body').data('status', '{{json.encode(status)}}')
			{% end %}
			{% if user then %}
			$('body').data('user_id', '{{user_id}}')
			{% end %}
		</script>
	</body>
</html>
