<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>

		<title>人形Ningyou.</title>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href="/media/css/bootstrap.css" rel="stylesheet" />
		<link href="/media/css/default.css" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div id="title" class="row">
				<h1 class="pull-left"><a href="/"><span>人形</span>Ningyou.</a></h1>

				<ul class="nav nav-pills pull-right">
					<li><a href="#">Features</a></li>
					<li><a href="/login">Login</a></li>
				</ul>
			</div>

