<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>

		<title>人形Ningyou.</title>

		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<link href="/media/css/bootstrap.css" rel="stylesheet" />
		<link href="/media/css/default.css" rel="stylesheet" />
	</head>
	<body>
		<div id="top-alert"></div>
		<div class="container">
			<div class="row">
				<div id="title" class="span12">
					<h1 class="pull-left"><a href="/"><span>人形</span>Ningyou.</a></h1>

					<ul class="nav nav-pills pull-right">
						<li><a href="#">Features</a></li>
						{% if logged_user then %}
						<li><a href="/search">Search</a></li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">{{logged_user}} <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="/{{logged_user}}"><i class="icon-user"></i> Profile</a></li>
								<li><a href="/import"><i class="icon-download-alt"></i> Import</a></li>
								<li><a href="/logout"><i class="icon-off"></i> Logout</a><li>
							</ul>
						</li>
						{% else %}
						<li><a data-toggle="modal" data-target="#login-modal" href="/login">Login</a></li>
						{% end %}
					</ul>
				</div>
			</div>
