<%include header.html %>

<div>
	{% if added_count > 1 then %}
	<h2>Import Successful</h2>
	<p>We've imported {{added_count}} series to your "{{list}}" list.
	<br/>See below for titles that needs manual action. Simply click on the title to search for it.</p>
	{% else %}
	<h2>Nothing Imported</h2>
	<p>We couldn't import any series to your list due to them already being added or the title was not found in the database. 
	<br/>See below for titles that needs manual action. Simply click on the title to search for it.</p>
	{% end %}

	{% if #nomatch > 1 then %}
	<table id="importresults" class="table table-striped table-bordered">
		<thead>
			<tr>
				<th class="span12">
					Title
				</th>
				<th class="span2 center">
					Status
				</th>
				<th class="center">
					Progress
				</th>
			</tr>
		</thead>
		<tbody>
		{% for _,h in next, nomatch do %}
		<tr data-title="{{h.title}}" data-status="{{h.status}}" data-episodes="{{h.episodes}}">
			<td>
				<a data-toggle="modal" data-target="#search-modal" href="#">{{h.title}}</a>
			</td>
			<td class="center">
				{{h.status}}
			</td>
			<td class="center">
				{{h.episodes}}
			</td>
		</tr>
		{% end %}
		</tbody>
	</table>
	{% end %}
</div>

<div id="search-modal" class="modal hide">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>Search</h3>
	</div>
	<div class="modal-body">
		<input id="modalsearch" type="text" name="search" placeholder="Search..." class="input-xlarge"/>
		<div id="modalresults"></div>
	</div>
</div>

<%include footer.html %>
