<%include header.html %>

			<div class="row">
				<div class="span12">
					<h2>{{list_name}}</h2>
					{% for i = 1, #status do %}
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="span12">
									{{status[i]}}
									{% if user == logged_user then %}
									<a href="#" class="pull-right">edit</a>
									{% end %}
								</th>
								<th class="span2 center">
									Type
								</th>
								<th class="center">
									Progress
								</th>
							</tr>
						</thead>
						<tbody>
							{% for _, info in next, lists[status[i]] do %}
							<tr>
								<td class="span12">
									<a href="http://anidb.net/a{{info.id}}" target="_blank">{{info.title}}</a>
									{% if not info.aired then %}
									<small class="pull-right">Airing</small>
									{% end %}
									{% if user == logged_user then %}
									<select class="hide input-medium pull-right">
										{% for i = 1, #status do %}
										<option>{{status[i]}}</option>
										{% end %}
									</select>
									{% end %}
								</td>
								<td class="center">{{info.type}}</td>
								<td class="nowrap center">
									{% if user == logged_user then %}
									<a href="#" id="add_link_{{info.id}}">{{info.episodes}}/{{info.total or "?"}}</a>
									<a href="#" id="incr_{{info.id}}">+</a>
									<input type="number" id="add_input_{{info.id}}" class="center span1 hide" />
									{% else %}
									{{info.episodes}}/{{info.total or "?"}}
									{% end %}
								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
					{% end %}
				</div>
			</div>

<%include login-modal.html %>

<%include footer.html %>
