<%include header.html %>

			<div class="row">
				<div class="span12">
					<h2>{{list_name}}</h2>
					{% for i = 1, #status do if lists[status[i]] then %}
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th data-status="{{status[i]}}" class="span12">
									{{status[i]}} ({{#lists[status[i]]}})
									{% if user == logged_user then %}
									<div class="pull-right">
										<a href="#" class="hide"><i class="icon-refresh"></i></a>
										<a href="#"><i class="icon-edit"></i></a>
									</div>
									{% end %}
								</th>
								<th class="span2 center">
									Type
								</th>
								<th class="center">
									Progress
								</th>
							</tr>
						</thead>
						<tbody>
							{% for _, info in next, lists[status[i]] do %}
							<tr data-id="{{info.id}}" data-title="{{info.title}}">
								<td class="span12">
									<a href="http://anidb.net/a{{info.id}}" target="_blank">{{info.title}}</a>
									{% if not info.aired then %}
									<small class="pull-right">Airing</small>
									{% end %}
									{% if user == logged_user then %}
									<div data-edit="true" class="hide pull-right">
										<select class="input-medium select-margins">
											{% for s = 1, #status do %}
											<option{% if status[s] == status[i] then %} selected="yes"{% end %}>{{status[s]}}</option>
											{% end %}
										</select>
										<a href="#" class="select-margins"><i class="icon-remove"></i></a>
									</div>
									{% end %}
								</td>
								<td class="center">{{info.type}}</td>
								<td class="nowrap center">
									{% if user == logged_user then %}
									<a href="#">{{info.episodes}}/{{info.total or "?"}}</a>
									<a href="#">+</a>
									<input type="number" class="center span1 hide input-margins" />
									{% else %}
									{{info.episodes}}/{{info.total or "?"}}
									{% end %}
								</td>
							</tr>
							{% end %}
						</tbody>
					</table>
					{% end end %}
				</div>
			</div>

<%include login-modal.html %>

<%include footer.html %>
