			<div id="login-modal" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<a class="close" data-dismiss="modal">×</a>
							<p><strong>Login</strong></p>
						</div>
						<form role="form" id="login" action="/login" method="POST">
							<div class="modal-body">
								<label for="name">Username/E-mail</label>
								<input id="name" tabindex="1" class="form-control input-sm" type="text" value="" name="name" />
								<label for="password">Password</label>
								<input id="password" tabindex="2" class="form-control input-sm" type="password" value="" name="password" />
								<div class="checkbox">
									<label>
										<input tabindex="3" type="checkbox" name="remember" /> Remember me
										<a class="pull-right" href="/login/lost-password">Lost password?</a>
									</label>
								</div>
							</div>
							<div class="modal-footer">
								<input tabindex="4" type="submit" class="btn btn-primary" value="Login" name="submit" />
							</div>
						</form>
					</div>
				</div>
			</div>
