<%include header.html %>

			<div class="row">
				<div class="span7 offset3">
					<form action="javascript:anidbsearch()" id="anidbsearch">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon-search"></i>
							</span>
							<input id="search" type="text" name="search" placeholder="Search..." class="input-large span5"/>
							<input type="button" onclick="anidbsearch();" class="input-large" name="search" value="Search" />
						</div>
					</form>
				</div>
				<div id="result" class="span12"></div>
			</div>

<%include footer.html %>
