<%include header.html %>

			<div class="row">
				<div class="span7 offset3">
					<form id="search">
						<div class="input-prepend">
							<span class="add-on">
								<i class="icon-search"></i>
							</span>
							<input id="searchbox" type="text" name="search" placeholder="Search..." class="input-xlarge"/>
							<select id="searchtype" class="input-small">
								<option value="anime">Anime</option>
								<option value="manga">Manga</option>
							</select>
							<input type="submit" class="btn" name="search" value="Search" />
						</div>
					</form>
				</div>
				<div id="result" class="span12"></div>
			</div>

<%include footer.html %>
