<%include header.html %>

			<div class="row">
				<div class="span9">
					<h2>{{user}}</h2>
					<div class="well">
						<h4>History:</h4>
						<ul class="unstyled">
						{% if history then for i = 1, #history do %}
						<li>{{history[i].string}}<div class="pull-right">{{history[i].time}}</div></li>
						{% end end %}
						</ul>
					</div>
				</div>
				<div class="span3">
					<h3>Lists:</h3>
					<ul class="unstyled">
						{% if lists then for i = 1, #lists do %}
						<li><a href="/{{user}}/{{lists[i].name_lower}}">{{lists[i].name}}</a><small class="pull-right">{{lists[i].type}}</small></li>
						{% end end %}
					</ul>
					<hr />
					{% if logged_user == user then %}
					<h3>Tasks:</h3>
					<ul class="unstyled">
						<li><a href="/add/list">Add list</a></li>
					</ul>
					{% end %}
				</div>
			</div>

<%include login-modal.html %>

<%include footer.html %>
