<%include header.html %>

			<div class="row">
				<div class="span9">
					<h2>{{user}} <small>{% if user_title then %}{{user_title}}{% end %}</small></h2>
					<ul class="nav nav-tabs" id="user-tab">
						<li class="active">
						<a href="#home" data-toggle="tab">Home</a>
						</li>
						<li>
							<a href="#history" data-toggle="tab">History</a>
						</li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="home">Text.</div>
						<div class="tab-pane" id="history">
							<ul class="unstyled span9">
								{% if history then for i = 1, #history do %}
								<li>{{history[i].string}}<div class="pull-right">{{history[i].time}}</div></li>
								{% end end %}
							</ul>
						</div>
					</div>
				</div>
				<div class="span3">
					<h3>Lists:</h3>
					<ul class="unstyled">
						{% if lists then for i = 1, #lists do %}
						<li><a href="/{{user}}/{{lists[i].name_lower}}">{{lists[i].name}}</a><small class="pull-right">{{lists[i].type}}</small></li>
						{% end end %}
					</ul>
					<hr />
					{% if logged_user == user then %}
					<h3>Tasks:</h3>
					<ul class="unstyled">
						<li><a href="/add/list">Add list</a></li>
					</ul>
					{% end %}
				</div>
			</div>


<%include login-modal.html %>

<%include footer.html %>
