<%include header.html %>

			<div class="row">
				<div class="col-md-7 col-md-offset-1">
					<h2>{{user}} <small>{% if user_title then %}{{user_title}}{% end %}</small></h2>
				</div>
				<div class="col-md-3">
					<h4>Lists:</h4>
					<div class="list-group">
						{% if lists then for i = 1, #lists do %}
						<a class="list-group-item" href="/{{user}}/{{lists[i].name:lower()}}">{{lists[i].name}}<small class="pull-right">{{lists[i].type}}</small></a>
						{% end end %}
					</div>
					{% if user_id == logged_user_id then %}
					<h4>Tasks:</h4>
					<div class="list-group">
						<a class="list-group-item"href="/add/list">Add list</a>
					</div>
					{% end %}
				</div>
			</div>


<%include login-modal.html %>

<%include footer.html %>
